/* app css stylesheet */

.ww {
  width: 100%;
}

.wh {
  height: 100vh;
}

.fixedheight {
  height: 100vh;
}

.centering {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wire {
  border-style: dotted;
}

#bigtable {
  table-layout: fixed;
}

td {
  text-align: center;
  max-height: 720px;
}

.grid {
  border: 0;
  margin: 0;
  padding: 0;
}

.bc {
  border-collapse: collapse;
}

.thirds {
  width: 33%;
  height: 33%;
}

.ofh {
  overflow: hidden;
}
