<!doctype html>
<html lang="en" ng-app="pApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>

<body ng-controller="PCtrl">
  <table class="ww wh" id="bigtable">
    <tr class="wh">
      <td class="wire thirds">
        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" style="ww" />
        <table class="ww">
          <tr>
            <td class="slide">
              <img ng-src="{{ iconImg }}" />
            </td>
            <td class="slide">
              <input type="range" ng-model="elementsize" ng-change="elChange()" min="16" max="64" />
            </td>
            <td class="slide">
              <img ng-src="{{ iconImg }}" />
            </td>
          </tr>
        </table>
        <p> Element size: {{ elementsize }} pixels </p>
        <table class="ww"> 
          <tr>
            <td class="slide">
              <img ng-src="{{ iconImg }}" />
            </td>
            <td class="slide">
              <input type="range" ng-model="scale" ng-change="scaleChange()" min="1" max="100" id="scaleBar" />
            </td>
            <td class="slide">
              <img ng-src="{{ iconImg }}" />
            </td>
          </tr>
        </table>
        <p> Size: {{ curWidth }}x{{ curHeight }} px  </p>
        <pre>picStyle={{picStyle}}</pre>
        <pre>mat={{mat}}</pre>
        <pre>sideXImgs x sideYImgs: {{ sideXImgs }}x{{ sideYImgs }}</pre>
        <p> w: {{ width }}, h: {{ height }}, maxMult: {{ maxMult }}, cw: {{ curWidth }}, ch: {{ curHeight }} </p>
      </td>
      <td class="wire thirds">
        <div class="fixedheight">
          <img class="ofh" ng-src="{{ sampleImg }}" imageonload ng-style="picStyle" />
          <div class="ofh" ng-style="picStyle">
            <table class="bc" > 
              <tr ng-repeat="y in matY track by $index" class="ww grid">
                <td ng-repeat="x in matX track by $index" ng-style="miniStyle" class="grid" >
                  <img ng-src="{{ iconImg }}" ng-style="miniStyle" />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td class="wire thirds">
      </td>
    </tr>
  </table>
</body>
</html>
